<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="Cnxn" value="Server=localhost\SQLExpress;Database=BooksInfo;Integrated Security=sspi;"/>
    <add key="CnxnSql" value="Server=localhost\SQLExpress;Database=BooksInfo;uid=username password=password"/>
    <add key ="LogPath" value="C:/PinkTechInc/Exercises/Part2/ExerciseBlock1/Part2Exercises"/>
  </appSettings>
</configuration>
